* {
  margin: 0;
  padding: 0;
}

.main .navi {
  background-color: aqua;
  height: 80px;
}
.main .top-title {
  height: 40px;
  width: 90%;
  display: block;
  background-color: aquamarine;
  margin: auto;
  font-size: 32px;
}
.main .top-menu {
  font-size: 24px;
  float: right;
}
.main .top-menu button{
  font-size: 16px;
  margin: 0 5px
}
.main .description {
  height: 400px;
  width: 90%;
  margin: auto;
  display: block;
  background-color: skyblue;
}
.main .des .description .des-in-title {
  

}
